<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/jquery.lightbox.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<!--Top of Page-->
<div class="page-header"></div>
<div class='header-dash'></div>

<!--bootly nav-->
<nav class="navbar navbar-inverse spm-nav" role="navigation">
  <div class="container nav-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="index.html"><img class='spm-logo'src='/images/spmLogo.jpg'/></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav links">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/patterns.html">Patterns</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--end bootly nav-->
<!--End Top of Page-->


<div class="row ind-row">
  <div class="col-md-7 col-md-offset-1 ind">
    <div class="ind-description">
        <p class="ind-pattern-title">{{title}}

      <hr class="dashed-line">

      <p>{{description}}<br>

      <hr class="dashed-line">

      <div>
        <h2 class="contents-header">Pattern Contains:</h2>
        <ul class="pattern-contents">
            <li>Quilt Measurements: {{measurements}}</li>
            <li>Cutting Instructions
            <li>Block Assembly Instructions
            <li>Quilt Assembly Diagrams
        </ul>
      </div>

    <hr class="dashed-line">
    <p class="pattern-purchase">Please contact <a href="mailto:karen@sevenpotatomorequilts.com" target="_blank">Karen</a> to purchase.
    </div>

  </div>


    <!--Lightbox Go-->
      <div class='col-md-3 ind'>
        <div class="lightbox">
          <ul>
              {{#each images}}
              <li>
                  <a class="lightbox-full" href="{{this.full}}">
                      <img class="lightbox-thumb" src="{{this.thumb}}"/>
                  </a>
              </li>
              {{/each}}
          </ul>
        </div>
      </div>

</div>


</div>

<!--Footer-->
<footer>

   <div class="row footer">
     <div class="col-md-12">
       <a class="ft-link" href='/index.html'>Home</a>
       <a class="ft-link" href='/patterns.html'>Patterns</a>
       <a class="ft-link" href='/about.html'>About</a>
       <a class="ft-link" href='/contact.html'>Contact</a>
       <a href="https://www.pinterest.com/sevenpotatomore/" target="_blank"><div class="pin"></div></a>
       <a href="https://www.facebook.com/pages/Seven-Potato-More-Quilt-Company/353442524861828?sk=info&tab=page_info&section=web_address&view" target="_blank"><div class="fb"></div></a>
     </div>
   </div>

  <div class="row footer ft-copyright">
    <div class="col-md-12">
      <p>©2015 Karen Wittmeyer</p>
    </div>
  </div>

</footer>
<!--End Footer-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  window.lightbox_path = "/";
</script>
<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.lightbox.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" async defer  data-pin-color="red" data-pin-height="28" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>

</body>
</html>
